<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hg.xsp.dao.LoginAndOutMapper">
	<select id="login" parameterType="com.hg.xsp.entity.Student" resultType="com.hg.xsp.entity.Student">
		select * from
		student
		where stu_id=#{stu_id} and name=#{name};
	</select>
	
</mapper>