.bdinput {
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0;
	border: none;
	outline: none;
	background: rgba(255, 255, 255, 0);
	width: 100%;
}

.layui-form-label {
	width: 120px;
}

.layui-input-block {
	margin-left: 150px;
}

.my-biaodan {
	margin-left: 5%;
	width: 90%;
	background-color: #fbfbfb;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	width: 90%;
	padding-bottom: 20px;
}

.my-biaodan h2 {
	width: 100%;
	text-align: center;
	font-family: '·ÂËÎ';
	font-size: 28px;
	font-weight: bold;
}

.my-biaodan-line2 {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.my-lable-date {
	font-family: '·ÂËÎ';
	font-size: 17px;
	font-weight: bold;
	float: right;
}

.my-lable {
	font-family: '·ÂËÎ';
	font-size: 17px;
	font-weight: bold;
}

.layui-table thead tr {
	background-color: #fbfbfb
}

.my-th {
	text-align: center;
	height: 25px;
}

.layui-table td, .layui-table th {
	padding: 4px 3px;
	border: 1px solid #000000;
}

.bd-table-xh {
	text-align: center;
	background-color: #fbfbfb;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
}

.new-t-b-m {
	margin: 5%;
	background: #009688;
	height: 100px;
	border-radius: 5px;
	padding-top: 20px;
	padding-left: 5px;
	font-size: 18px;
	color: #ffffff;
	background-position: top right;
	background-repeat: no-repeat;
	background-size:auto 100%;
	box-shadow:2px 2px 4px #c0c0c0;
}

.new-t-b-m:hover {
	margin: 5%;
	background: #009688;
	height: 100px;
	border-radius: 5px;
	padding-top: 20px;
	padding-left: 5px;
	font-size: 20px;
	color: #ffffff;
	background-position: top right;
	background-repeat: no-repeat;
	background-size:auto 100%;
	box-shadow:3px 3px 8px #8080c0;
}

.new-t-b-m2 {
	margin: 5%;
	background: #009688;
	height: 100px;
	border-radius: 5px;
	padding-top: 20px;
	padding-left: 5px;
	font-size: 20px;
	color: #ffffff;
	background-position: top right;
	background-repeat: no-repeat;
	background-size:auto 100%;
	box-shadow:3px 3px 8px #8080c0;
}

.new-acc-div {
	margin: 5%;
	background: #130a01;
	border-radius: 5px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	color: #ffffff;
	background-position: top right;
	background-repeat: no-repeat;
	background-size:50% auto;
	box-shadow:2px 2px 4px #c0c0c0;
	margin-top: 10px;
	min-width:740px;
}

.new-acc-div:hover {
	margin: 5%;
	background: #130a01;
	border-radius: 5px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	color: #ffffff;
	background-position: top right;
	background-repeat: no-repeat;
	background-size:50% auto;
	box-shadow:6px 6px 10px #8080c0;
	margin-top: 10px;
	min-width:740px;
}


