body {
	min-width: 1450px;
}

#footer2 {
	display: none;
	color: #009688;
}

.layui-body hr {
	background-color: #757575;
}

.layui-field-title legend {
	margin-left: 0;
}

.layui-nav-child dd{
	padding-left: 10px;
}

.layui-body {
	min-width: 800px;
    margin-top: 55px
}

@media screen and (max-width: 1000px) {
	.layui-layout-body {
		overflow: inherit;
	}
	.layui-side {
		position: absolute;
	}
	.end-menue {
		margin-bottom: 40px;
	}
	.layui-nav-child dd {
		padding-left: 10px;
	}
	#footer2 {
		display: block;
	}
	#footer1 {
		display: none;
	}
}