body {
	min-width: 1000px;
}


.layui-body hr {
	background-color: #757575;
}

.login-error{
	color:#c74040;
}

.layui-field-title legend {
	margin-left: 0;
}

.login-title {
	margin-bottom: 15px;
	width: 300px;
	background-color: #23262e;
	color: #009688;
	font-size: 16px;
	padding: 10px;
}

.login {
	margin-top: 150px;
	border-style: solid;
	border-width: 1px;
	width: 320px;
	font-size: 12px;
	border-color: #d2d2d2;
}

.layui-body {
	min-width: 800px;
}

.layui-form-label{
	width: 40px;
}

.layui-input-block{
	margin-left: 70px;
	margin-right: 30px;
}

.layui-btn{
	width: 50%;
}
