.pet_circle_nav {
	padding-top: 70px;
}

.pet_circle_nav_list li {
	width: 100%;
	margin: 0;
}

.pet_content_list {
	padding-top: 0px;
}

.pet_article_like {
	padding-top: 2px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}

.am-panel-default>.am-panel-hd {
	font-size: 18px;
}

.am-panel-bd {
	margin: 0px;
}

.am-icon-btn {
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	color: #0084C7;
}

.am-accordion-gapped {
	margin: 2px;
	font-size: 14px;
}

.am-list>li>a {
	font-size: 14px;
	padding: 0;
}

.am-list>li>span {
	font-size: 13px;
	cursor: pointer;
}

.xinjian-panel {
	margin-top: 80px;
	margin-left: 30px;
	margin-right: 30px;
}

.am-panel-bd {
	padding: 10px;
}

.am-form-group .xjsj-label {
	padding: 0;
	line-height: 32px;
	text-align: right;
}

.am-form textarea {
	font-size: 1.2em;
}

.sjxx-label {
	line-height: 32px;
	font-size: 1.2em;
}
.my-piont-r{
	color: #C10802;
	cursor: pointer;
}
.my-piont-g{
	color: #19CE8B;
	cursor: pointer;
}
.my-piont-b{
	color: #0084C7;
	cursor: pointer;
}


.am-form .am-form-group .my_border_color_red {
	border-color: red;
}
